body {
  background-color: black;
  margin: 5rem;
  justify-content: center;
  padding-left: 20%;
  padding-right: 20%;
}

h2 {
  font-size: 25px;
  padding-left: 10px;
}

.header {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin-top: 70px;
  color: blanchedalmond;
}

.input-filed {
  background-color: gray;
  color: blanchedalmond;
  padding: 1rem;
  text-align: right;
  font-size: 25px;
}

.last-btn {
  width: 50%;
  padding: 20px;
  border-right: 2px solid #d1cfcf;
  border-bottom: 2px solid #d1cfcf;
}

.calculator-container {
  width: 40%;
  margin-left: 60%;
}

.other-operations {
  padding: 20px;
  border-right: 2px solid #d1cfcf;
  border-bottom: 2px solid #d1cfcf;
  width: 25%;
}

.btn {
  color: var(--buttons-font-color);
  font-size: 2rem;
}

.Digits-container {
  font-size: 1rem;
  width: 100%;
  display: flex;
  background-color: var(--buttons-gray);
}

.digits-btn {
  padding: 20px;
  border-right: 2px solid #d1cfcf;
  border-bottom: 2px solid #d1cfcf;
  width: 25%;
}

button {
  cursor: pointer;
  border: none;
}

.operator {
  width: 25%;
  background-color: #faa764;
}
